.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #fef4f4ea;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
}

.product-image {
    flex: 1;
    max-width: 500px;
    margin: 1rem;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.product-info {
    flex: 1;
    max-width: 500px;
    margin: 1rem;
    text-align: left;
}

.product-info h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text--color);
}

.product-info .price {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--green-color);
}

.product-info .stock {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text--color);
}

.product-info .description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--text--color);
}

.product-info .btn {
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg--color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    max-width: 160px;
    cursor: pointer;
    border: none;
}

.product-info .btn:hover {
    background: var(--light-green-color);
    transition: 0.2s ease;
}